/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.header {
  padding: 40px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 49%, #f4f4f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 49%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 49%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 0px -14px 14px -9px rgba(237,234,237,1);
  -moz-box-shadow: inset 0px -14px 14px -9px rgba(237,234,237,1);
  box-shadow: inset 0px -14px 14px -9px rgba(237,234,237,1);
}

.title {
  margin: 0;
  font-size: 30px;
  color: black;
}

.sub-title {
  font-size: 10px;
  color: lighten(gray, 30%);
  font-weight: bold;
}

.contentHolder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
}

.SearchInput {
  border-radius: 15px;
  border: solid 5px lighten(gray, 30%);
  position: relative;

  input {
    box-sizing: border-box;
    border: solid 1px lighten(gray, 15%);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(left, #f9f9f9 71%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f9f9f9 71%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f9f9f9 71%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

.submit-button {
  background: red;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
